<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    
    <main class="container my-3">
        <a class="btn btn-primary" href="/register" role="button">Registrarme</a>
        <a class="btn btn-primary" href="/login" role="button">Ingresar</a>
    </main>
    
    
    <%- include('partials/scripts') %> 
</body>
</html>